<h1><%= @blogger.name %></h1>
<% @blogger.posts.each do |post|%>
<p>Title: <%= post.title %> Likes: <%= post.likes %></p>
<% end %>
<h4>Feature Post</h4>
<%= link_to @blogger.top_post.title, @blogger.top_post  %>
